// $body_background: #e8e8e8;
// $header_background: #ffffff;
// $header_title_background: #2c3e50;
// $header_title_color: #fff;

$body_background: #e8e8e8;
$header_background: #fff;
$header_title_background: #fff;
$header_title_color: #2c3e50;

$sidebar_background: #2c3e50;
$sidebar_color: #ffffff;