@import 'variables';

body {
  background: $body_background;
  overflow-x: hidden;
}

@media print {
  .modal-dialog {
    display: block;
  }

  .body {
    display: none;
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: $header_background;
  line-height: 10px;
  z-index: 2;

  .title {
    padding: 18px 5px;
    float: left;
    width: 180px;
    background: $header_title_background;
    height: 50px;
    color: $header_title_color;
    font-size: 24px;
    font-weight: bolder;
    padding-left: 45px;
    line-height: 14px;
    border-bottom: 1px solid lighten($header_title_background, 10%);
    .simplefi-icon {
      content: " ";
      color: $header_title_background;
      background: $header_title_background;
      border: 18px solid $header_title_color;
      border-radius: 28px;
      display: block;
      position: absolute;
      left: 5px;
      top: 6px;
      &:after {
        content: "n ";
        display: block;
        position: absolute;
        height: 12px;
        color: #333;
        top: -6px;
        left: -6px;
        width: 12px;
        font-size: 0px;
        background: $header_title_background;
      }
    }
  }

  .menu {
    padding: 18px 15px 18px 10px;
    // float: left;
    i.fa-outdent {
      cursor: pointer;
    }
  }

  &:after {
    content: " ";
    clear: both;
  }
}

.body-content {
  margin-top: 50px;

  .sidebar {
    background: $sidebar_background;
    width: 210px;
    color: $sidebar_color;
    position: fixed;
    top: 50px;
    bottom: 0;
    padding-left: 0;
    list-style: none;
    font-size: 13px;
    z-index: 10;
    & > li {
      padding: 18px 0;
      cursor: pointer;
      &:hover, &.active {
        background: darken($sidebar_background, 10%);
      }
      &.active {
        ul {
          display: block;
        }
      }
      &.has-child.active{
        padding-bottom: 0;
      }
      i {
        margin-right: 10px;
        margin-left: 22px;
      }

      ul {
        padding-left: 0;
        display: none;
        li {
          padding: 18px 0px;
          padding-left: 45px;
          &:hover {
            background: darken($sidebar_background, 15%);
          }
        }
        list-style: none;
        li:first-child {
          margin-top: 16px;
        }
      }
    }


    // iconic
    &.iconic {
      width: 60px;

      & + .main-content {
        margin-left: 70px;
      }

      .item, ul {
        position: absolute;
        z-index: 1000;
      }
      .item {
        width: 0;
        opacity: 0;
        padding: 18px 0 18px 20px;
        top: 0;
        background-color: darken($sidebar_background, 10%);
        margin-left: 60px;
        z-index: 10;
        display: block;
      }
      & > li {
        position: relative;
        width: 60px;
        i {
          margin-left: 22px;
        }
        .item {
          width: 0;
          overflow: scroll;
          padding: 0px;
        }
        &.has-child{
          padding-bottom: 18px;
        }

        ul {
          z-index: 20;
          margin-left: 60px;
          margin-top: 2px;
          display: block;
          li {
            padding: 0;
            &:hover  {
              background: transparent;
            }
            .item {
              margin-left: 0px;
              position: relative;
            }
          }
        } 

        &:hover { 
          .item {
            width: 170px;
            padding: 18px 0 18px 20px;
            margin-left: 60px;
            overflow: hidden;
            opacity: 1;
          }
          ul {
            .item {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  .main-content {
    border: 1px solid #ddd;
    margin-left: 220px;
    margin-right: 10px;
    margin-top: 60px;
    background: #fff;

    .left-content {
      padding: 10px 10px 10px 25px;
    }

    .workspace {
      border-left: 1px solid #ddd;
      padding: 0;
      .filter-detail {
        padding: 10px;
        margin-right: 18px;
        .name {
          font-size: 16px;
          font-weight: bold;
          padding: 5px 0 5px 10px;
          border: 1px solid transparent;

          &:focus {
            border: 1px solid #aaa;
            outline: none;
          }
        }
        .btn {
          border-radius: 0;
          padding: 4px 25px;
          font-size: 12px;
          font-weight: bold;
          background: $sidebar_background;
          color: $sidebar_color;
        }
        .favorite {
          margin: 0 6px;
          cursor: pointer;
        }
      }

      .filter-items {
        background: #EFF2F9;
        margin-right: 15px;
        border-bottom: 1px solid #d7dce8 ;
        border-top: 1px solid #d7dce8 ;
        position: relative;

        .item {
          padding: 2px 30px 6px 24px;
          border-right: 1px solid #d7dce8;
          display: inline-block;
          position: relative;
          margin-left: -4px;
          height: 52px;
          &:first-child {
            margin-left: 0;
          }
          &.action {
            cursor: pointer;
            padding: 2px 15px 6px 15px;
            button {
              border: none;
              background: transparent;
              outline: none;
              span {
                position: absolute;
                top: 40%;
                left: 15px;
              }
            }
          }
          &.spacer {
            position: absolute;
            right: 0;
            left: 3px;
            border-top: 1px solid #d7dce8;
            height: 54px;
            border-right: none;
          }
          &:not(.action):before {
            content: ' ';
            background: $sidebar_background;
            background: #2c3e50;
            padding: 4px;
            position: absolute;
            top: 45%;
            left: 6px;
            border-radius: 10px;
          }
          label {
            display: block;
            font-size: 11px;
            margin-top: 10px;
            color: #999;
            font-weight: normal;
            margin-bottom: -5px;
          }

          .dropdown-toggle {
            background-color: transparent;
            border: none;
            margin-top: -7px;
            margin-left: -12px;
            outline: none;
            box-shadow: none;
          }

          .dropdown-menu {
            border-radius: 0;
            margin-top: -10px;
            li {
              a {
                padding: 3px 10px;
              }
            }
          }

          & > .glyphicon-remove {
            cursor: pointer;
            position: absolute;
            top: 43%;
            right: 6px;
            font-size: 11px;
            color: #BE0452;
          }

          input {
            outline: none;
            background-color: transparent;
            border: none;
            width: 80px;
            margin-bottom: 4px;
          }

          .search-dropdown {
            width: 100%;
            padding: 0px 10px 3px;
            border-bottom: 1px solid #ddd;
          }
        }
      }

      .search-result {
        padding: 20px 15px;
        .actions {
          .item {
            float: left;
            margin-right: 10px;
            &.checkbox {
              margin-top: 0;
            }
            select, button {
              background: #fff;
              border: 1px solid #aaa;
              height: 20px;
              outline: none;
            }
          }
        }
        .as-table {
          margin-right: 15px;
          .rows {
            font-size: 12px;
            padding: 12px 0px 0px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
            &:not(.header):hover {
              background: #EFF2F9;
              .detail {
                background: #fff;
              }
            }
            &.active {
              &:hover {
                background: $table_highlight_background;
              }
              background: $table_highlight_background;
              color: $table_highlight_color;

              .detail {
                background: #ffffff;
                color: #333333;
              }
            }
          }
          & > .header {
            font-weight: bold;
            padding: 12px 0 6px;
            border-bottom: 2px solid #ccc;
            cursor: default;
            background: $sidebar_background;
            color: #fff;
            .sortable {
              cursor: pointer;
            }
          }

          .header {
            font-weight: bold;
            padding: 12px 0 6px;
            border-bottom: 2px solid #ccc;
            cursor: default;
          }

          .detail {
            border: 1px solid #ccc;
            border-right: none;
            border-left: none;
            display: none;
            padding: 20px 10px;
            &.active {
              display: block;
              &:hover {
                background: #fff
              }
            }
            .tabs {
              margin-top: 15px;
              h5 {
                font-weight: bold;
              }
              .uncondensed-column {
                > div {
                  padding-top: 2px;
                  padding-bottom: 2px;
                }
              }
            }
            .header {
              border-bottom: 2px solid $sidebar_background;
              margin-bottom: 15px;
              h4 {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 0;
                color: #333;
              }

              .pull-right {
                margin-top: -25px;

                div {
                  display: inline-block;
                }

                button {
                  border-radius: 0;
                  outline: none;
                  font-size: 11px;
                  font-weight: bold;
                  color: #666;
                  display: inline-block;
                  height: 30px;
                  background-color: #EFF2F9;
                  border: 1px solid #ccc;
                  padding: 0 13px;
                  &:hover {
                    border-color: #aaa;
                  }
                } 
                .dropdown-menu {
                  left: auto;
                  right: 0;
                  border-radius: 0;
                  margin-top: -1px;

                  input {
                    padding: 3px 6px;
                    border-top-style: none;
                    border-left-style: none;
                    border-right-style: none;
                    outline: none;
                  }
                }
              }
            }
          }
        }
        .result {
          clear: both;
          overflow-y: scroll;
          overflow-x: hidden;
          .item {
            border-bottom: 1px solid #ddd;
            padding: 6px 0;
          }
        }
      }
    }

    .extra-menus {
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
      &:last-child {
        border-bottom: none;
      }
      .item {
        font-weight: bold;
        font-size: 11px;
        cursor: pointer;
        margin-bottom: 5px;
        color: $extra_menu_color;
        &.header {
          color: #333;
          cursor: default;
          font-weight: normal;
          font-size: 16px;
          margin-bottom: 10px;
        }
        &.btn {
          background: $sidebar_background;
          color: $sidebar_color;
          border-radius: 0;
        }
      }
    }
  }
}

.large-modal {
  .modal-dialog {
    width: 100%;
    padding: 15px;
  }
  .modal-content {
    border-radius: 0;
    .header {
      border-bottom: 2px solid $sidebar_background;
      margin-bottom: 15px;
      h4 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
      }

      .pull-right {
        display: none;
      }
    }
  }
}

.mobile-menu {
  display: none;
}



@mixin mobile {
    .modal-dialog {
      margin: 0;
    }

    .sidebar {
      display: none;
      &.active {
        display: block;
      }
    }

    .web-menu {
      display: none;
    }

    .mobile-menu {
      display: block;
      position: absolute;
      left: -15px;
      top: 13px;
      width: 100px;
      z-index: 100;
    }

    nav {
      box-shadow: 1px 1px 1px #333;
      height: 51px;

      .title {
        margin-left: 3px;
        .simplefi-icon {
          margin-left: 5px;
        }
      }
    }

    .as-table {
      width: 800px;
      
    }

    .search-result {
      width: 100%;
      overflow: scroll;
    }

    .left-content {
      display: none;
    }

    .row {
      margin-left: auto;
      margin-right: auto;
    }

    .search-result {
      padding: 10px 0;
      & > div {
        margin-left: -30px;
      }
    }

    .body-content {
      .sidebar {
        & + .main-content, &.iconic + .main-content {
          margin-left: 10px;
        }
        &.active + .main-content {
        }
      }
    }

    .filter-items {
      margin-right: 0 !important;
      .filter-item {
        width: 50%;
        margin-left: -2px !important;
        border-bottom: 1px solid #d7dce8;
        &.spacer {
          display: none !important;
        }
        &.action {
          text-align: center;
          span {
            left: auto !important;
          }
        }
        &:nth-child(odd){
          padding: 2px 30px 6px 28px !important;
          &:before {
            left: 10px !important;
          }
        }
      }
    }
}

// media queries 
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  @include mobile;
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  @include mobile;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  @include mobile;
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  @include mobile;
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  @include mobile;
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  @include mobile;
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  @include mobile;
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  @include mobile;
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  @include mobile;
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  @include mobile;
}

@media only screen and (min-device-width: 600px) and (max-device-height: 960px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  @include mobile;
}
