<li> 
	<i class="fa fa-dashboard"></i>
	<span class="item">Dashboard</span> 
</li>
<li class="active has-child"> 
	<i class="fa fa-file"></i>
	<span class="item">Application</span> 
	<ul>
		<li>
			<span class="item">Application Summary</span>
		</li>
		<li>
			<span class="item">Application Search View</span>
		</li>
	</ul>
</li>
<li class="has-child"> 
	<i class="fa fa-gears"></i>
	<span class="item">Settings</span> 
	<ul>
		<li>
			<span class="item">Client Users</span>
		</li>
		<li>
			<span class="item">Client Security Roles</span>
		</li>
		<li>
			<span class="item">Disclosure Management</span>
		</li>
		<li>
			<span class="item">Generate CL4 File</span>
		</li>
	</ul>
</li>